#PomodoroApp {
  .card-header {
    position: relative;
  }

  .dropdown-item {
    color: #fff;
  }

  .input-group {
    min-height: 38px;
    justify-content: center;
    margin-top: 3px;

    .input-group-text {
      padding: 0 14px;
      cursor: pointer;
    }

    .btnInputAddon.borderFirst {
      border-right: 2px solid #4572b1;
    }

    .form-control {
      border-radius: 0;
      border-left-width: 1px;
      display: flex;
      background-color: #102141;
      justify-content: center;
      align-items: center;
    }
  }
}
