.dropdown.dropleft {
  position: absolute;
  top: 10px;
  z-index: 1;
  left: 10px;

  .dropdown-menu {
    background-color: #010331;
    &:before {
      color: #010331;
    }

    .dropdown-item:hover {
      background-color: transparent;
    }
  }

  .bootstrap-switch {
    margin-bottom: 0;
    margin-left: 20px;
  }
}
